langchain
langchain-openai
python-dotenv
langchain_community
langchain_experimental
langchain-text-splitters
langchain_core
langchain-postgres
langchain-classic
psycopg[binary]
pgvector
pymupdf
ipykernel
camelot-py
beautifulsoup4
fastapi
uvicorn
pydantic